@using ParkingUNAH.Features.Parking.Dtos
@{
    ViewData["Title"] = Model[0].DescripcionSector;
}

@model List<EstacionamientoSectorDto>

<div class="contenedor">
    <div class="contenedor-izquierdo">
        <div class="sign-parking text-center">
            @Model[0].DescripcionSector
        </div>

        <ul class="flex-container wrap">
            @{
                foreach (var estacionamiento in Model)
                {
                    <li class="flex-item">@estacionamiento.Posicion</li>
                }
            }
        </ul>
    </div>
    <div class="contenedor-derecho">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">1</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">2</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">3</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">4</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">5</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <div class="entry-way"></div>
            </div>
            <div class="col-sm-2">
                <div class="outside">Entry / Exit</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">6</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">7</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">8</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">9</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">10</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>