@{
    ViewData["Title"] = "PARKING MAP";
}

<div class="contenedor">
    <div class="contenedor-izquierdo">
        <div class="sign-parking text-center">Parqueo Edificio 1</div>
        <ul class="flex-container wrap">
            <li class="flex-item">1</li>
            <li class="flex-item">2</li>
            <li class="flex-item">3</li>
            <li class="flex-item">4</li>
            <li class="flex-item">5</li>
            <li class="flex-item">6</li>
            <li class="flex-item">7</li>
            <li class="flex-item">8</li>
            <li class="flex-item">1</li>
            <li class="flex-item">2</li>
            <li class="flex-item">3</li>
            <li class="flex-item">4</li>
            <li class="flex-item">5</li>
            <li class="flex-item">6</li>
            <li class="flex-item">7</li>
            <li class="flex-item">8</li>
            <li class="flex-item">8</li>
        </ul>
    </div>
    <div class="contenedor-derecho">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">1</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">2</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">3</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">4</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">5</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <div class="entry-way"></div>
            </div>
            <div class="col-sm-2">
                <div class="outside">Entry / Exit</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">6</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">7</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">8</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">9</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">10</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>