html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: rgb(24, 20, 20);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto';
}

.footer-navbar {
    background: rgb(19, 18, 18);
}

.texto-footer-navbar {
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    color: white;
    font-weight: bolder;
}

.texto-navbar {
    text-align: center;
}

.texto-footer {
    text-align: right;
}

.entry-way {
    border-bottom: 2px dashed yellow;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    background: rgb(31, 31, 40);
    color: rgb(240, 240, 236);
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor-izquierdo {
    width: 30%;
}

.contenedor-derecho {
    width: 70%;
    padding-left: 10px;
}

.button-car-entry {
    gap: 10px;
    margin-bottom: 10px;
}

.sign-parking {
    background: rgb(45,42,42);
    color: white;
    padding: 20px;
    font-size: 14px;
}

.outside {
    height: 90%;
    border-top: 2px solid rgb(33, 74, 113);
    border-bottom: 2px solid rgb(33, 74, 113);
    background: rgb(43, 43, 55);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.flex-container {
    list-style: none;
    display: flex;
    background: rgb(25, 25, 25);
}

.wrap {
    flex-wrap: wrap;
}

.isTaken {
    background: rgb(146, 18, 18);
}

.isNotTaken {
    background: rgb(27, 118, 19);
}


.flex-item {
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
